{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link id="pagestyle" href="{{ config.ASSETS_ROOT }}/css/app-cam.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

  <div class="min-height-300 bg-primary position-absolute w-100"></div>
      
  

  <main class="main-content position-relative border-radius-lg ">

   {% include "includes/navigation.html" %} 
   
    <div class="container-fluid py-4">

      <div class="row mt-4">
        <div class="col-2">
          <div class="card">
            <div class="card-header pb-0">
              <h6>Controles</h6>
            </div>  
            <div class="joystick-container">
              <div class="joystick" id="joystick">
                <svg width="100%" height="100%" viewBox="0 0 100 100">
                  <defs>
                    <linearGradient id="grad1" x1="0%" y1="0%" x2="0%" y2="100%">
                      <stop offset="0%" style="stop-color:rgb(16,16,16);stop-opacity:1" />
                      <stop offset="100%" style="stop-color:rgb(240,240,240);stop-opacity:1" />
                    </linearGradient>
                    <linearGradient id="grad2" x1="0%" y1="0%" x2="0%" y2="100%">
                      <stop offset="0%" style="stop-color:rgb(240,240,240);stop-opacity:1" />
                      <stop offset="100%" style="stop-color:rgb(16,16,16);stop-opacity:1" />
                    </linearGradient>
                    <linearGradient id="grad3" x1="0%" y1="0%" x2="0%" y2="100%">
                      <stop offset="0%" style="stop-color:rgb(168,168,168);stop-opacity:1" />
                      <stop offset="100%" style="stop-color:rgb(239,239,239);stop-opacity:1" />
                    </linearGradient>
                  </defs>
                  <circle cx="50" cy="50" r="50" fill="url(#grad1)" />
                  <circle cx="50" cy="50" r="47" fill="url(#grad2)" stroke="black" stroke-width="1.5px" />
                  <circle cx="50" cy="50" r="44" fill="url(#grad3)" />
                  <circle cx="50" cy="50" r="20" fill="#cccccc" stroke="black" stroke-width="1px" onclick="alert('CENTER');" />
                  <path id="up-button" d="M50,14 54,22 46,22Z" fill="rgba(0,0,0,0.8)" />
                  <path id="down-button" d="M50,86 54,78 46,78Z" fill="rgba(0,0,0,0.8)" />
                  <path id="left-button" d="M14,50 22,54 22,46Z" fill="rgba(0,0,0,0.8)" />
                  <path id="right-button" d="M86,50 78,54 78,46Z" fill="rgba(0,0,0,0.8)" />
                </svg>
              </div>
            </div>
            <div class="card-header pb-0">
              <h6>Set Points</h6>
            </div> 
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table id="presets-items" class="table align-items-center mb-0">
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- +++++++++++++++++++++++++++++++++++ Configuracion Camara soldadura +++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <div class="col-5">
          <div class="card">
            <div class="table-resposive">
              <table class="table align-items-center">
                <tbody>
                  <tr>
                    <td class="w-30">
                      <div class="d-flex px-2 py-1 align-items-center">
                        <div>
                          <img src="{{ config.ASSETS_ROOT }}/img/icons/digital-camera.svg" alt="Country flag">
                        </div>
                        <div class="ms-4">
                          <p class="text-xs font-weight-bold mb-0">Camara Soldadura:</p>
                          <input type="text" class="form-control" id="ip_cam_w" value="192.168.1.10" onfocus="focused(this)" onfocusout="defocused(this)">
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="text-center">
                        <p class="text-xs font-weight-bold mb-0">Estados:</p>
                        <div id="circle-container">
                          <div class="circle" id="cam-w-streaming"></div>
                          <div class="circle" id="cam-w-trig"></div>
                          <div class="circle" id="cam-w-analy"></div>
                          <div class="circle" id="cam-w-ok"></div>
                          <div class="circle" id="cam-w-err"></div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-sm">
                      <div class="col text-center">
                        <p class="text-xs font-weight-bold mb-0">Medida:</p>
                        <h6 class="text-sm mb-0" id="cam-w-measure">0.0 mm</h6>
                      </div>
                    </td>
                    <td class="align-middle text-sm">
                      <div class="col text-center">
                        <p class="text-xs font-weight-bold mb-0">Error:</p>
                        <h6 class="text-sm mb-0" id="cam-w-cod-err">--</h6>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <div class="row mr-2">
              <div class="col-md-4">
                <div class="d-flex px-4 py-1">
                  <h6>Video</h6>
                </div>                
              </div>
              
              <div class="col-md-8">
                <div class="button-container">
                  <button id="shoot-button-weld" type="button" class="btn btn-sm btn-dark float-right mb-0 d-none d-lg-block">Foto</button>
                  <button id="shoot-button-model" type="button" class="btn btn-sm btn-dark float-right mb-0 d-none d-lg-block">Foto AI</button>
                  <button id="video-button-weld" type="button" class="btn btn-sm btn-dark float-right mb-0 d-none d-lg-block">Start</button>
                </div>
              </div>
            </div>
            
            <div class="card">  
              <div class="video-container">
                <img id="video-stream-weld" src="" alt="Video stream">
              </div>
            </div>

            <div class="card-header pb-0">
              <h6>Análisis</h6>
            </div>
            
            <div class="card">  
              <div class="video-container">
                <img id="img-result-weld" src="" alt="Imagen Resultado">
              </div>
            </div>

          </div>
        </div>

        <!-- +++++++++++++++++++++++++++++++++++ Configuracion Camara Medida de Cola +++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <div class="col-5">
          <div class="card">
            <div class="table-resposive">
              <table class="table align-items-center">
                <tbody>
                  <tr>
                    <td class="w-30">
                      <div class="d-flex px-2 py-1 align-items-center">
                        <div>
                          <img src="{{ config.ASSETS_ROOT }}/img/icons/digital-camera.svg" alt="Country flag">
                        </div>
                        <div class="ms-4">
                          <p class="text-xs font-weight-bold mb-0">Camara Medida</p>
                          <input type="text" class="form-control" id="ip_cam_c" value="192.168.1.10" onfocus="focused(this)" onfocusout="defocused(this)">
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="text-center">
                        <p class="text-xs font-weight-bold mb-0">Estados:</p>
                        <div id="circle-container">
                          <div class="circle" id="cam-c-streaming"></div>
                          <div class="circle" id="cam-c-trig"></div>
                          <div class="circle" id="cam-c-analy"></div>
                          <div class="circle" id="cam-c-ok"></div>
                          <div class="circle" id="cam-c-err"></div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-sm">
                      <div class="col text-center">
                        <p class="text-xs font-weight-bold mb-0">Medida:</p>
                        <h6 class="text-sm mb-0" id="cam-c-measure">0.0 mm</h6>
                      </div>
                    </td>
                    <td class="align-middle text-sm">
                      <div class="col text-center">
                        <p class="text-xs font-weight-bold mb-0">Error:</p>
                        <h6 class="text-sm mb-0" id="cam-c-cod-err">--</h6>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="row mr-2">
              <div class="col-md-4">
                <div class="d-flex px-4 py-1">
                  <h6>Video</h6>
                </div>                
              </div>
              
              <div class="col-md-8">
                <div class="button-container">
                  <button id="shoot-button-cola" type="button" class="btn btn-sm btn-dark float-right mb-0 d-none d-lg-block">Foto</button>
                  <button id="video-button-cola" type="button" class="btn btn-sm btn-dark float-right mb-0 d-none d-lg-block">Start</button>
                </div>
              </div>
            </div>
            
            <div class="card">  
              <div class="video-container">
                <img id="video-stream-cola" src="" alt="Video stream">
              </div>
            </div>
            
            <div class="card-header pb-0">
              <h6>Análisis</h6>
            </div>
            
            <div class="card">  
              <div class="video-container">
                <img id="img-result-cola" src="" alt="Imagen Resultado">
              </div>
            </div>

          </div>
        </div>

      </div>

      {% include "includes/footer.html" %}

    </div>

  </main>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
  <script src="{{ config.ASSETS_ROOT }}/js/cam_app.js"></script>
{% endblock javascripts %}
